[submodule "ext/lasercut"]
	path = ext/lasercut
	url = https://github.com/bmsleight/lasercut.git
[submodule "ext/laserscad"]
	path = ext/laserscad
	url = https://github.com/dogtopus/laserscad.git
[submodule "ext/LKP-Assy"]
	path = ext/LKP-Assy
	url = https://github.com/Project-Alpaca/LKP-Assy.git
[submodule "ext/laserscad-alt"]
	path = ext/laserscad-alt
	url = https://github.com/dogtopus/laserscad-alt.git
